In [1]:
from google.cloud import bigquery
import os

In [2]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="auth/dados-publicos-326316-e16540376290.json"

# Salvando do GCS para o BigQuery

In [3]:
def upload_to_bigquery(client, directory, dataset):
  dataset_id= f"{client.project}.{dataset}"
  table_id = f"{dataset_id}.{directory}" # Set table_id to the ID of the table to create.

  job_config = bigquery.LoadJobConfig(source_format=bigquery.SourceFormat.PARQUET,)
  uri = f"gs://dna_public_cnpj_files/trusted_parquet/{directory}/*.parquet"

  load_job = client.load_table_from_uri(
      uri, table_id, job_config=job_config
  )  # Make an API request.
  load_job.result()  # Waits for the job to complete.

  destination_table = client.get_table(table_id)
  print(f"Loaded {destination_table.num_rows} rows into table {directory}.")

In [4]:
client = bigquery.Client()
dirs = ["estabelecimento", "cnae", "empresa", "municipio", "nat_juridica", "pais", "simples"]
dataset = "dna_dataset"

for d in dirs:
  upload_to_bigquery(client, d, dataset)

Loaded 49549311 rows into table estabelecimento.
Loaded 1359 rows into table cnae.
Loaded 46906616 rows into table empresa.
Loaded 5571 rows into table municipio.
Loaded 88 rows into table nat_juridica.
Loaded 255 rows into table pais.
Loaded 28925678 rows into table simples.